<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta/>
    <meta charset="utf-8">
    <!--<meta Content-Type="text/html" >-->
    <!--<meta http-equiv="expires" content="-1">-->
    <!--<meta http-equiv="pragma" content="no-cache">-->
    <!--<meta http-equiv="cache-control" content="no-cache">-->
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>可视化布局系统</title>
    <script src="<%= htmlWebpackPlugin.options.path %>mapConfig.js"></script>
    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>Ie.css"/>
    <![endif]-->
    <!--<link rel="stylesheet" type="text/css" href="static/Modules/geomap-gl/mapbox/css/mapbox-gl.css"/>-->
    <!--<script src="static/Modules/jquery/2.0.3/jquery.min.js"></script>-->
    <!--<script src="static/Modules/echarts/3.3.0/echarts.js"></script>-->
    <!--<script src="static/Modules/echarts-gl/EchartsLayer.js"></script>-->
    <!--<script src="static/Modules/maptalks/0.39.5/maptalks.min.js"></script>-->
    <!--<script src="static/Modules/mapv/mapv.min.js"></script>-->
    <!--<script src="static/Modules/geomap-gl/mapbox/js/mapbox-gl.js"></script>-->
    <!--<script src="static/Modules/geomap-gl/GeoGlobeJS.min.js"></script>-->
    <!--<script src="static/Modules/je-map/je-map.min.js"></script>-->
    <script src="<%= htmlWebpackPlugin.options.path %>config.js?time=<%= new Date().getTime()%>" type="text/javascript"></script>
</head>

<body>
    <div id="app"></div>
    <!-- built files will be auto injected -->

</body>

</html>